a {
	text-decoration: none;
  }
  .card-background {
	background: -webkit-linear-gradient(bottom, #0b0101, #ffffff);
	height: 100%;
	width: 100%;
	overflow-y: auto;
	background-repeat: no-repeat;
  }
  label {
	font-family: "Raleway", sans-serif;
	font-size: 11pt;
  }
  #forgot-pass {
	color: #a33e1f;
	font-family: "Raleway", sans-serif;
	font-size: 10pt;
	margin-top: 3px;
	text-align: right;
  }
  #card {
	background: #fbfbfb;
	border-radius: 8px;
	box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
	height: 85%;
	margin: 6rem auto 8.1rem auto;
	width: 30%;
  }
  #card-content {
	padding: 12px 44px;
  }
  #card-title {
	font-family: "Raleway Thin", sans-serif;
	letter-spacing: 4px;
	padding-bottom: 23px;
	padding-top: 13px;
	text-align: center;
  }
  #signup {
	color: #ec5946;
	font-family: "Raleway", sans-serif;
	font-size: 10pt;
	margin-top: 16px;
	text-align: center;
  }
  #submit-btn {
	background: -webkit-linear-gradient(right, #c26962, #da693d);
	border: none;
	border-radius: 21px;
	box-shadow: 0px 1px 8px #812d06;
	cursor: pointer;
	color: white;
	font-family: "Raleway SemiBold", sans-serif;
	height: 42.3px;
	margin: 0 auto;
	margin-top: 50px;
	transition: 0.25s;
	width: 153px;
  }
  #submit-btn:hover {
	box-shadow: 0px 1px 18px #4b0909;
  }
  .form {
	align-items: left;
	display: flex;
	flex-direction: column;
  }
  .form-border {
	background: -webkit-linear-gradient(right, #db624d, #9c2727);
	height: 1px;
	width: 100%;
  }
  .form-content {
	background: #ffffff;
	border: none;
	outline: none;
	padding-top: 14px;
  }
  .underline-title {
	background: -webkit-linear-gradient(right, #e9796a, #b67070);
	height: 2px;
	margin: -1.1rem auto 0 auto;
	width: 89px;
  }
