<div class="card-background">
    <div id="card">
      <div id="card-content">
        <div id="card-title">
          <h2>User Login</h2>
          <div class="underline-title"></div>
        </div>
        <form method="post" class="form">
          <label for="user-email" style="padding-top:13px">
              &nbsp;Email
            </label>
          <input id="user-email" class="form-content" type="email"  autocomplete="on" [(ngModel)]="userEmailId" name="userEmailId" required />
          <div class="form-border"></div>
          <label for="user-password" style="padding-top:22px">&nbsp;Password
            </label>
          <input id="user-password" class="form-content" type="password"  [(ngModel)]="userPassword" name="userPassword" required />
          <div class="form-border"></div>
          <a href="#">
            <legend id="forgot-pass">Forgot password?</legend>
          </a>
          <input id="submit-btn" type="submit" (click)='userLogin();' name="submit" value="LOGIN" />
          <a routerLink="app-user-registration" id="signup">Dont't have account?</a>
        </form>
      </div>
    </div>
  </div>

  